<div id="demo">
  <h1>UB04</h1>
</div>
<div
  id="PrintDoc"
  style="height:1056px;background-color:#fff;color: #000;padding : 48px 48px 0 48px;"
  class="pgbr"
>
  <div
    style="height:950px;border:0.5px solid #ea0400;border-bottom: 1px solid #ea0400;"
  >
    <table class="demo">
      <tr>
        <td style="width: 25%;" class="text_left">
          1
          <!-- Provider name : -->
        </td>
        <td style="width: 25%;">2</td>
        <th class="text_left w_10">3 PAT CNTL#</th>
        <td colspan="2"></td>
        <th class="text_left px40 bg_red">4 TYPE OF BILL</th>
      </tr>
      <tr>
        <td style="width: 25%;" class="text_left"></td>
        <td style="width: 25%;"></td>
        <th class="text_left w_10 light_red">
          <span class="txt_lwer">b</span> MED REC#
        </th>
        <td colspan="2" class="light_red"></td>
        <td class="text_left w_10"></td>
      </tr>
      <tr>
        <td rowspan="2" style="width: 25%;" class="text_left"></td>
        <td rowspan="2" style="width: 25%;"></td>
        <th rowspan="2" class="text_left">5 FEED TAX NO</th>
        <th colspan="2" class="light_red tworow">6 Statement Covers Period</th>
        <td rowspan="3" class="text_left w_10">7</td>
      </tr>
      <tr>
        <th class="light_red tworowbtm">FROM</th>
        <th class="light_red tworowbtm">THROUGH</th>
      </tr>
      <tr>
        <td style="width: 25%;" class="text_left">&nbsp;</td>
        <td style="width: 25%;"></td>
        <td class="text_left"></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table class="demo">
      <tr class="bdrt0">
        <th class="text_left w_10 light_red">8 Patient name :</th>
        <td class="px10 light_red">a</td>
        <td class="w_30"></td>
        <th colspan="2" class="text_left w_16 light_red">9 Patient address</th>
        <td class="px10 light_red">a</td>
        <td></td>
      </tr>
    </table>
    <table class="demo">
      <tr class="bdrt0">
        <td class="px10 light_red">b</td>
        <td class="text_left w_40"></td>
        <td class="px10 light_red">b</td>
        <td></td>
        <td class="px10 light_red">c</td>
        <td class="text_left"></td>
        <td class="px10 light_red">d</td>
        <td></td>
        <td class="px10 light_red">e</td>
        <td></td>
      </tr>
    </table>
    <table class="demo">
      <tr class="bdrt0">
        <th rowspan="2">10 Birth date</th>
        <th rowspan="2">11 Sex</th>
        <th colspan="4" class="tworow light_red">Admission</th>
        <th rowspan="2">16 DHR</th>
        <th rowspan="2">17 STAT</th>
        <th colspan="11" class="light_red tworow">Condition codes</th>
        <th rowspan="2" class="light_red">29 ACDT <br />State</th>
        <th rowspan="2" class="light_red">30</th>
      </tr>

      <tr class="light_red">
        <th class="tworowbtm">12 Date</th>
        <th class="tworowbtm">13 Hr</th>
        <th class="tworowbtm">14 Type</th>
        <th class="tworowbtm">15 Src</th>
        <th class="tworowbtm">18</th>
        <th class="tworowbtm">19</th>
        <th class="tworowbtm">20</th>
        <th class="tworowbtm">21</th>
        <th class="tworowbtm">22</th>
        <th class="tworowbtm">23</th>
        <th class="tworowbtm">24</th>
        <th class="tworowbtm">25</th>
        <th class="tworowbtm">26</th>
        <th class="tworowbtm">27</th>
        <th class="tworowbtm">28</th>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table class="demo">
      <tr class="bdrt0 light_red">
        <th colspan="2" class="tworow">31 Occurrence</th>
        <th colspan="2" class="tworow bg_red">32 Occurrence</th>
        <th colspan="2" class="tworow">33 Occurrence</th>
        <th colspan="2" class="tworow bg_red">34 Occurrence</th>
        <th colspan="3" class="tworow">35 Occurrence span</th>
        <th colspan="3" class="tworow">36 Occurrence span</th>
        <th rowspan="2" class="">37</th>
      </tr>
      <tr class="light_red">
        <th class="tworowbtm">Code</th>
        <th class="tworowbtm">Date</th>
        <th class="tworowbtm">Code</th>
        <th class="tworowbtm">Date</th>
        <th class="tworowbtm">Code</th>
        <th class="tworowbtm">Date</th>
        <th class="tworowbtm">Code</th>
        <th class="tworowbtm">Date</th>
        <th class="tworowbtm">Code</th>
        <th class="tworowbtm">From</th>
        <th class="tworowbtm">Through</th>
        <th class="tworowbtm">Code</th>
        <th class="tworowbtm">From</th>
        <th class="tworowbtm">Through</th>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="light_red">
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table class="demo">
      <tr class="bdrt0">
        <th rowspan="6" class="w_40">38</th>
        <th rowspan="2"></th>
        <th colspan="2" class="light_red tworow">39 Value codes</th>
        <th colspan="2" class="bg_red tworow">40 Value codes</th>
        <th colspan="2" class="light_red tworow">41 Value codes</th>
      </tr>
      <tr class="light_red">
        <th class="tworowbtm">Code</th>
        <th class="tworowbtm">Amount</th>
        <th class="tworowbtm bg_red">Code</th>
        <th class="tworowbtm bg_red">Amount</th>
        <th class="tworowbtm">Code</th>
        <th class="tworowbtm">Amount</th>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="light_red">
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table class="demo">
      <tr class="bdrt0">
        <th class="">42 Rev CD</th>
        <th>43 Description</th>
        <th>44 HCPCS / Rate/ Hipps code</th>
        <th>45 Serv. Date</th>
        <th>46 Serv. Units</th>
        <th>47 ToTal charges</th>
        <th>48 Non-Covered charges</th>
        <th>49</th>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="light_red">
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="light_red">
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="light_red">
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="light_red">
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="light_red">
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="light_red">
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="light_red">
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="light_red">
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="light_red">
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="light_red">
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><span class="h3">Page &nbsp; of &nbsp; </span></td>
        <td style="text-align: right;">
          <span class="h3">Creation Date</span>
        </td>
        <td></td>
        <td class="bg_red">
          <span class="h3">Totals </span>
          <span style="float: right;font-size: 24px;line-height: 14px;"
            >&#10152;</span
          >
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table class="demo">
      <tr class="bdrt0">
        <th class="light_red">50 Payer name</th>
        <th class="light_red">51 Health plan ID</th>
        <th class="light_red">52 REL. Info</th>
        <th></th>
        <th class="light_red">53 ASG. Ben</th>
        <th class="light_red">54 Prior payments</th>
        <th class="light_red">55 ESTAmound Due</th>
        <th class="light_red">56 NPI</th>
        <th class="w_16"></th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <th rowspan="3">57 <br />Other<br />PRV ID</th>
        <td></td>
      </tr>
      <tr class="light_red">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table class="demo">
      <tr class="bdrt0 light_red">
        <th class="">58 Insured's name</th>
        <th>59 P.Rel</th>
        <th>60 Insured's unique ID</th>
        <th>61 Group name</th>
        <th>62 Insurence Group No</th>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="light_red">
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table class="demo">
      <tr class="bdrt0 light_red">
        <th class="">63 Treatment authorization codes</th>
        <th>64 Document control number</th>
        <th>65 Employer name</th>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
      </tr>
      <tr class="light_red">
        <td>&nbsp;</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table class="demo">
      <tr class="bdrt0">
        <th class="w_10">66 DX</th>
        <td class="bg_ltr_td"><div class="bg_ltr">67</div></td>
        <td class="bg_ltr_td"><div class="bg_ltr">A</div></td>
        <td class="bg_ltr_td"><div class="bg_ltr">B</div></td>
        <td class="bg_ltr_td"><div class="bg_ltr">C</div></td>
        <td class="bg_ltr_td"><div class="bg_ltr">D</div></td>
        <td class="bg_ltr_td"><div class="bg_ltr">E</div></td>
        <td class="bg_ltr_td"><div class="bg_ltr">F</div></td>
        <td class="bg_ltr_td"><div class="bg_ltr">G</div></td>
        <td class="bg_ltr_td"><div class="bg_ltr">H</div></td>

        <td>68</td>
      </tr>
      <tr class="bdrt0">
        <td class="">&nbsp;</td>
        <td class="bg_ltr_td"><div class="bg_ltr">I</div></td>
        <td class="bg_ltr_td"><div class="bg_ltr">J</div></td>
        <td class="bg_ltr_td"><div class="bg_ltr">K</div></td>
        <td class="bg_ltr_td"><div class="bg_ltr">L</div></td>
        <td class="bg_ltr_td"><div class="bg_ltr">M</div></td>
        <td class="bg_ltr_td"><div class="bg_ltr">N</div></td>
        <td class="bg_ltr_td"><div class="bg_ltr">O</div></td>
        <td class="bg_ltr_td"><div class="bg_ltr">P</div></td>
        <td class="bg_ltr_td"><div class="bg_ltr">Q</div></td>

        <td></td>
      </tr>
    </table>
    <table class="demo">
      <tr class="bdrt0">
        <th class="w_10 light_red">69 Admit DX</th>
        <td class=""></td>
        <th class="w_16 light_red">70 Patient reason DX</th>
        <td class="bg_ltr_td"><div class="bg_ltr">a</div></td>
        <td class="bg_ltr_td"><div class="bg_ltr">b</div></td>
        <td class="bg_ltr_td"><div class="bg_ltr">c</div></td>

        <th class="w_10 light_red">71 PPS Code</th>
        <td></td>
        <th class="w_10 light_red">72 ECI</th>
        <td class="bg_ltr_td"><div class="bg_ltr">a</div></td>
        <td class="bg_ltr_td"><div class="bg_ltr">b</div></td>
        <td class="bg_ltr_td"><div class="bg_ltr">c</div></td>

        <td>73</td>
      </tr>
    </table>
    <table class="demo" style="width: 60%;float: left;">
      <tr class="bdrt0">
        <th colspan="2" class="light_red tworow">74 Principal Procedure</th>
        <th colspan="2" class="bg_red tworow">
          <span class="txt_lwer">a </span> Other procedure
        </th>
        <th colspan="2" class="light_red tworow">
          <span class="txt_lwer">b </span> Other procedure
        </th>
        <th rowspan="6">75</th>
      </tr>
      <tr class="light_red">
        <th class="tworowbtm">Code</th>
        <th class="tworowbtm">Date</th>
        <th class="tworowbtm bg_red">Code</th>
        <th class="tworowbtm bg_red">Date</th>
        <th class="tworowbtm">Code</th>
        <th class="tworowbtm">Date</th>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr class="bdrt0">
        <th colspan="2" class="tworow bg_red">
          <span class="txt_lwer">b </span> Other procedure
        </th>
        <th colspan="2" class="tworow light_red">
          <span class="txt_lwer">c </span> Other procedure
        </th>
        <th colspan="2" class="tworow bg_red">
          <span class="txt_lwer">d </span> Other procedure
        </th>
      </tr>
      <tr>
        <th class="tworowbtm bg_red">Code</th>
        <th class="tworowbtm bg_red">Date</th>
        <th class="tworowbtm light_red">Code</th>
        <th class="tworowbtm light_red">Date</th>
        <th class="tworowbtm bg_red">Code</th>
        <th class="tworowbtm bg_red">Date</th>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table class="demo" style="width: 40%;float: right;">
      <tr class="bdrt0">
        <th class="px60">76 Attending</th>
        <td class="w_30">NPI</td>
        <th class="px10">Qual</th>
        <td class="px10"></td>
        <td></td>
      </tr>
      <tr class="bdrt0">
        <td class="" colspan="2">Last</td>
        <td class="" colspan="3">First</td>
      </tr>
      <tr class="bdrt0">
        <th class="px60">77 Operating</th>
        <td class="w_30">NPI</td>
        <th class="px10">Qual</th>
        <td class="px10"></td>
        <td></td>
      </tr>
      <tr class="bdrt0">
        <td class="" colspan="2">Last</td>
        <td class="" colspan="3">First</td>
      </tr>
    </table>
    <table class="demo" style="width: 40%;float: right;">
      <tr class="bdrt0">
        <th class="px60">78 Other</th>
        <td class="w_30">NPI</td>
        <th class="px10">Qual</th>
        <td class="px10"></td>
        <td></td>
      </tr>
      <tr class="bdrt0">
        <td class="" colspan="2">Last</td>
        <td class="" colspan="3">First</td>
      </tr>
      <tr class="bdrt0">
        <th class="px60">79 Other</th>
        <td class="w_30">NPI</td>
        <th class="px10">Qual</th>
        <td class="px10"></td>
        <td></td>
      </tr>
      <tr class="bdrt0">
        <td class="" colspan="2">Last</td>
        <td class="" colspan="3">First</td>
      </tr>
    </table>
    <table class="demo" style="width: 60%;float: left;">
      <tr class="bdrt0">
        <th rowspan="4" class="w_30">80 Remarks</th>
        <th class="px10 tworow">81CC <span class="txt_lwer">a</span></th>
        <td class="px10"></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td class="tworow"><span class="txt_lwer"> b </span></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="tworow"><span class="txt_lwer"> c </span></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td class="tworow" style="border-bottom: 1px solid !important">
          <span class="txt_lwer"> d </span>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <table class="ftr">
    <tr>
      <td class="text_left">UB-04 CMS-1450</td>
      <td class="text_center">APPROVED OMB NO.0000-0000</td>
      <td class="text_center"></td>
      <td class="text_right">
        THE CERTIFICATION ON THE REVERSE APPLY TO THIS BILL AND ARE MADE A PART
        HEREOF
      </td>
    </tr>
  </table>
</div>

<input type="button" (click)="SavePDF()" />

<button printSectionId="PrintDoc" #print ngxPrint>print</button>
